# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: this is basically the equivalent to integers, and includes only ints

Strings: this can be any kind of alphanumeric characters or special characters that are enclosed in quotes

Lists: a list is a grouping of multiple numbers, characters, or strings and can be called upon, these can be put in order, reversed, appended to, etc, they are not immutable

Tuples: tuples are immutable and can not have duplicate output - so if you have a tuple that is {0,1,1,2,3} then it should just return {0,1,2,3}, but I believe it will actually put it in brackets instead of braces

Dictionaries: dictionaries are not immutable, and can be modified, however, they can not be ordered, they can include strings, numbers, or other chars

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
4 * (100 / 10) + 5**3 - 64.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [4]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> 
The type would be a float or a boolean because it's 8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root: sqrt = x**(1/2.0) or math.sqrt(x)
100 ** 0.5

In [ ]:
# Square: x**2
10 ** 2

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [5]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [10]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [11]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [61]:
# Method 2:
s[-1] or s[::-5]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [65]:
# Method 1:
mylist = [0,0,0]
mylist

[0, 0, 0]

In [64]:
# Method 2:
mylist2 = [0]*3
mylist2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [66]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]

# prints out 'hello' so we can make sure it's the right value

list3[2][2] = 'goodbye'

list3[2][2]

'goodbye'

Sort the list below:

In [31]:
list4 = [5,3,4,6,1]

list4.sort()

list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [32]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [40]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [67]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [69]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
No, dictionaries aren't sortable, you'd use tuples if you want to do that - they are mappings and not sequential

## Tuples

What is the major difference between tuples and lists?<br><br>
Tuples are immutable.

How do you create a tuple?<br><br>
The same as a list, but with parentheses (1,2,3)

## Sets

What is unique about a set?<br><br>
Sets will allow you to remove duplicates.

Use a set to find the unique values of the list below:

In [54]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [59]:
# Answer before running cell - False
2 > 3

False

In [58]:
# Answer before running cell - False
3 <= 2

False

In [57]:
# Answer before running cell - False
3 == 2.0

False

In [56]:
# Answer before running cell - True
3.0 == 3

True

In [55]:
# Answer before running cell - True
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [60]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!